/*Custom Styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 100%;
  
  }
 
  

  :root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Darkblue :hsl(249, 10%, 26%);
    --Grayishblue : hsl(246, 25%, 77%);
   }
  
  /*Custom Styles*/

  .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    background-color: var(--Red);
    background-image: url("../images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 200px;
    padding-right:2100px;
    
  }

 
  .left-area{
    flex: 50%;
   align-content: center;
   letter-spacing: 1px;
    margin-right: 50px;
    color: white;
  }

  .left-title{
    font-size: 4rem;
     
    }

    .p-title{
      font-size: 1rem;
      }

  .form-titlep {
    color: white;
    background-color: var(--Blue);
    border-radius: 5px;
    box-shadow: 0px 5px 1px var(--Darkblue);
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.75rem;
    padding: 15px;
  } 

  
  .form-titlep span {
    font-weight: bold;
  }

  form {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 1px var(--Darkblue);
  }

  .form-control{
      margin-bottom: 15px;
      outline: none;
    }

    .form-input:focus{
      outline: 1px solid var(--Blue);
    }
    .form-input {
      outline: none;
      width: 100%;
      padding: 20px;
      border: 1px solid var(--Darkblue);
      border-radius: 10px;
      font-size: 1rem;
      font-weight: bold;
      background-color: transparent;
      color: #333;
      
    }

    #icon{
      background-image: url("../images/icon-error") no-repeat right;
      background-repeat: no-repeat;
      background-size: cover;

    }
    
    .form-input::placeholder {
      color: black;
      font-family: 'Poppins', sans-serif;
    }

    
    
    button {
      width: 100%;
      padding: 20px 0;
      cursor: pointer;
      text-transform: uppercase;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 2px;
      box-shadow: 0px 5px 2px var(--Green);
      background-color: var(--Green);
      color: white;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .bottom-area{
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
    }

    .agreement p{
      padding: 0;
      margin: 0;
      text-align: center;
      color: var(--Grayishblue);
      
      font-size: 8px;
    
    }
    
    .agreement span {
     
      color: var(--Red);
    }
    

    @media (min-width: 600px) {

      .left-area {
        float: right;
      }
    }
    
    @media (min-width: 900px) {
      .container {
        padding: 0;
        background-image: url("../assets/bg-intro-mobile.png");
        display: flex;
      }
    }
  